.item-box {
  width: 100%;
}

.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr); /* 4개의 열 그리드 설정 */
gap: 3px; 
}

.grid-item {
padding: 10px;
box-sizing: border-box;
position: relative; 
overflow: hidden; 
}

.grid-item img {
width: 25%;
height: auto;
}

.grid-item:hover img {
transform: scale(1.05); 
filter: brightness(70%); 
}

.grid-item .content {
position: absolute;
bottom: 10px;
left: 10px;
color: white;
font-size: 14px;
background-color: rgba(0, 0, 0, 0.7);
padding: 5px 10px;
border-radius: 5px;
}
.image_container{
width: 320px;
height: 480px;
overflow:hidden;
}
.image-container img {
max-width: 100%;
max-height: 100%;
display: block;
margin: 0 auto; 
}
