.inputContainer{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.inputField { 
    background-color: transparent;
    height: 40px;
    width: 400px;
    border: 2px solid white;
    border-radius: 30px;
    padding-left: 10px;
}
.inputField:focus-visible  {
    outline: none!important;
    border: 2px solid whitesmoke;
}