.zone-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 30px;
  }
.clickable-area {
    cursor: pointer;
  }
.zone-content {
    display: flex;
    padding: 30px;
    align-items: center; 
    cursor: pointer;
  }
.img-middle{
    border: 2px solid rgba(0, 0, 0, 0);
}
.img-left{
    border: 2px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
.img-right{
    border: 2px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}