.zone-container {
  background-color: #07003b;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.zone-content {
  display: flex;
  padding: 30px;
  align-items: center;
  cursor: pointer;
}
.img-left {
  width: 320px;
  height: 480px;
}
.img-right {
  width: 320px;
  height: 480px;
}
.truncate {
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 넘칠 경우 "..."으로 표시 */
  max-width: 300px; /* 원하는 너비로 조절하세요 */
}
