.searchContainer {
  display: flex;
  padding: 1em;
}
.searchField {
  background-color: white;
  height: 3rem;
  width: 15rem;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1rem;
  color: #07003b;
  padding-left: 1em;
}
.searchField:focus-visible {
  outline: none !important;
  border: 2px solid whitesmoke;
}
