.PostFrame{
    margin-top: 5%;
    width: 50%;
    height: 800px;
    border-color:lightgray;
    
}
.line{
    border-color: #07003b;
    background-color: #07003b;
    height: 3px;
    border-radius: 15px;
}
.post{
    margin-bottom: 10px;
}
.postitem{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
}
.search_btn {
    background-color: #07003b;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.poston_btn{
    background-color: #07003b;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}