/* PostDetail.css */

.postdetail_container {
    margin-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .postdetail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .postdetail_hr {
    width: 100%;
    margin: 10px 0;
  }
  
  .pst_title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .pst_timestamp {
    color: #777;
  }
  
  .pst_writer {
    color: #777;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .pst_content {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .pst_views {
    color: #777;
    margin-bottom: 20px;
  }
  
  .postdetail_buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #07003B;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .post_comments {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .comment_container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cmt_writer {
    font-weight: bold;
  }
  
  .cmt_timestamp {
    color: #777;
  }
  
  .edit_comment_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .comment_button {
    padding: 10px 20px;
    background-color: #07003B;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .edit_comment_button,
  .delete_comment_button {
    
    justify-content: flex-end;
    padding: 5px 10px;
    background-color: #07003B;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  