.mypage_container{
    background-color: #07003b;
    color: aliceblue;
    height: 100%;
}
.mypage_title{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: 3em;
    font-weight: bold;
}
.btn_mypage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
}
.logout_mypage{
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.logout_mypage span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.logout_mypage span:hover{
  background: none;
}
.mypage_community{
    font-size: 2em;
    padding-left: 2%;
    padding-bottom: 1%;
    font-weight: bold;
}
.mypage_community:before {
  content: '▶';
  left: 2%;
  color: #fff;
  font-size: 42px;
}
.user_mypage_row{
    display: flex;
    flex-wrap: wrap;
    /* gap: 0.5em;  */
    margin-top: 1em; 
}
.link{
    color: #000; 
    text-decoration: none; 
    padding: 10px; 
    font-size: 1.4rem; 
}
.user_community_posts {
    padding:10px;
    margin-left: 1.9%;
    margin-top: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(214, 214, 214, 0.22);
    position: relative;
    overflow: hidden;
    width: 20%;
    height: 10%;
}
.user_community_posts_title{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
}
.user_community_posts_content{
    padding-bottom: 10px;
}
.user_views_row{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.mypage_icon{
    height: 1em;
}
.user_community_posts_views{
    font-weight: bold;
}
.user_community_posts_commentsviews{
    font-weight: bold;
}   
.space_mypage{
    height: 2px;
    background-color: #ffffff;
}

  
.content_mypage {
    /* position: absolute;
    top:15%;
    right: 5%; */
    padding-left: 2%;
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
  }
  
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  
  .content__container:before {
    content: '▶';
    left: 2%;
    position: absolute;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .content__container__text {
    display: inline;
    float: left;
    margin-left: 10px;
  }
  
  .content__container__list {
    margin-top: 0;
    padding-left: 120px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }