.detail-container {
  /* margin-top: 0.3%; */
  align-items: center;
  justify-content: center;
  background-color: #07003b;
}

.poster-info {
  display: flex;
  float: left;
  width: 50%;
}

.poster {
  width: 100%;
  overflow: hidden;
}

.detail-info {
  color: aliceblue;
  margin: 20px;
  width: 100%;
}

.map-info {
  display: flex;
  width: 50%;
  float: right;
}

.pm-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  height: 100vh;
}

@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Jeju Hallasan", cursive;
}

.area {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Jeju Hallasan", cursive;
}

.place {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.realmName {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}
