.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #07003b;
  padding: 20px; /* This creates space around the content */
  margin: auto; /* Centers the container horizontally */
}

.poster-info {
  order: 2; /* Set the order */
  display: flex;
  width: 700px; /* Adjusted width to take the full width */
  height: 900px;
  justify-content: center; /* Aligns content in the center */
  margin-bottom: 70px;
}

.poster {
  width: 1100px; /* 포스터의 크기를 조정해보세요 */
  /* overflow: hidden; */ /* 주석 처리: 필요 시 사용 */
}

.detail-info {
  order: 1; /* Set the order */
  color: aliceblue;
  text-align: center; /* Aligns content in the center */
}

.map-info {
  order: 3; /* Set the order */
  display: flex;
  width: 1100px; /* Adjusted width to take the full width */
  height: 700px;
  justify-content: center; /* Aligns content in the center */
  overflow: hidden;
  margin-bottom: 70px;
  flex-direction: column;
}

.detail-review {
  order: 4; /* Set the order */
  width: 1100px; /* Adjusted width to take the full width */
  justify-content: center; /* Aligns content in the center */
  flex-direction: column;
}

@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Jeju Hallasan", cursive;
}

.area {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Jeju Hallasan", cursive;
}

.place {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.realmName {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.ment {
  color: aliceblue;
  font-weight: bold;
  padding: 14px;
}
