.detail-container{
  width: 100%;
  height: 100%;
  margin-top: 0.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07003B;
}
.poster{
  width: 40%;
  height: 90%;
}
.detail-info {
  color: aliceblue;
  width: fit-content;
  margin: 20px;
  width: 50%;
}
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
.title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Jeju Hallasan', cursive;
}

.area {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Jeju Hallasan', cursive;
}

.place {
  color: white;
  font-size:16px;
  margin-top: 20px;
}

.realmName{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}