@import 'reset.css';
.root-wrap{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.header-container{
    background-color: #07003B;
    padding: 10px;
}
.swiper-area{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.header-wrap{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.header-Home{
    text-decoration: none;
    font-size: x-large;
    color:black;
    margin-right: 150px;
    font-weight: 900;
}
.btn  {
    display: inline-block;
    padding: 10px 20px;
    background: #07003B;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
.btn:hover{
    transform: translateY(2px);
    box-shadow: 0 1px 0 white;
}
