@import 'reset.css';
.root-wrap{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.header-container{
    display: flex;
    justify-content: center;
    background-color: #07003B;
    width: 100%;
}
.header-wrap{
    width: 100%;
    display:flex;
    justify-content: center; 
    align-items: center; 
}
.logo-image {
    margin-left: 1em;
    width: 10rem; 
    height: auto;
}
.swiper-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 0.5em; 
    margin-top: 1em; 
}
.btn  {
    display: inline-flex;
    padding: 0.1em 1.2em;
    background: #07003B;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
  }
.btn:hover{
    transform: translateY(2px);
    box-shadow: 0 1px 0 white;
}
.icon-links {
    display: flex;
    align-items: center;
    margin-left: 1em;
    gap: 1em; 
}
.header-icon {
    width: 3em; 
    height: auto;
}