.banner {
  text-align: center;
  margin-right: 20px;
}
.slide-box {
  width: 100%;
  max-width: 1500px; 
  height: auto;
  background-color: lightgray; 
  
}
.image{
  overflow:hidden;
  width: 1500px;
  height: 800px;
}

.top-left {
  width: 17%; /* Adjust the width as needed */
  padding: 20px;
  float:left;
  box-sizing: border-box;
  height: 200vh;
  /* background-color: yellow; */
}

.top-right {
  display: flex;
  align-items: flex-start;
  width: 78%; 
  padding: 20px;
  float:right;
  /* box-sizing: border-box; */
  /* background-color: red; */
  margin-bottom: 50px;
}

.bottom-left{
  width: 12%; 
  padding: 20px;
  float:left;
  box-sizing: border-box;
  /* background-color: gray; */
  height: 100vh;
}
.bottom-right{
  width: 83%; 
  padding: 20px;
  box-sizing: border-box;
  /* background-color:green; */
  float:left;
  text-align:start;
  font-weight:bold;
  font-size: 25px;
}


.centered-line{
  width:60%;
  margin:0 auto;
  border: 1px solid #ccc;
}
.button-container{
  margin-top: 20px;
}
.button {
  margin-right: 10px; /* 원하는 간격 크기로 조정하세요 */
  margin-bottom: 10px;
}


.button.selected {
  background-color: blueviolet; /* 선택된 버튼의 배경색을 변경하세요 */
  color: #fff; /* 선택된 버튼의 글자색을 변경하세요 */
}
